* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
    background-color: white;
    color: #222;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    background-image: linear-gradient(to left, #ED1C24 , #991B1F);
    padding: 10px 100px;
    height: 169px;
}
.navbar .nav-link {
    color: white !important;
    margin-left: 15px;
}
.footer .social-links a{
    color: rgb(153, 27, 31);
}
.footer-item .nav-link {
    color: rgb(153, 27, 31) !important;
    margin-left: 15px;
}

.footer .logo {
    width: 120px;
}

.footer{
    margin-top: 50px;
}

.social-links {
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
}

.news-more {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.social-links a{
    color: white;
    font-size: 24px;
}

.projects>h2 {
    font-family:  "Raleway", serif;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 0;
    font-weight: bolder;
    margin-top: 67px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
}

.btn-more {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.background {
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.background img {
    background-size: contain;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #ED1C24;
    opacity: 0.8;
}

.projectOne, .projectTwo, .projectThree, .projectFour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.main-image {
    border-width: 1px;
    width: 550px;
    height: 550px;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.text {
    color: white;
    margin: 50px 0;
}

.text h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    margin-bottom: 15px;
}

.btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    display: inline-block;
}

.projects-title{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}


@media (min-width: 1025px) {
    .container {
        font-size: 18px;
    }
    .background img {
        width: 100%;
        height: 500px;
    }

    .overlay {
        width: 100%;
        height: 500px;
    }
}
@media (max-width: 768px) {
    .container {
        font-size: 16px;
    }
    .navbar .nav-link {
        margin-left: 15px;
        text-align: center;
    }
    .containerFooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header {
        height: auto;
    }
    .main-image {
        width: 330px;
        height: 330px;
    }
    .background img {
        width: 100%;
        height: 400px;
    }
    .text p {
        font-size: 12px;
    }
    .projects-title {
        font-size: 30px;
    }

    .overlay {
        width: 100%;
        height: 400px;
    }
}
@media (max-width: 480px) {
    .container {
        font-size: 14px;
    }
    .header {
        padding: 0;
        height: auto;
    }
    .text {
        color: white;
        margin: 15px 10px;
    }
    .main-image {
        width: 80%;
        height: auto;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .background img {
        width: 100%;
        height: 650px;
    }

    .overlay {
        width: 100%;
        height: 650px;
    }
    .projects-title {
        font-size: 30px;
        margin-top: 30px;
    }
    .projectTwo, .projectThree, .projectFour {
        margin-top: 100px;
    }
    .projectOne {
        margin-top: 20px;
    }

    }

@media (max-width: 991.98px) {
    .navbar-collapse li {
        border-bottom: 3px solid #991B1F;
        box-shadow: 0 4px 6px rgba(153, 27, 31, 0.4);
        margin: 5px;
        border-radius: 8px;
    }
    .navbar-collapse {
        margin-top: 10px;
        background-color:#fff;
        padding: 5px;
        border-radius: 8px;

    }
    .navbar-nav .nav-link {
        color: #991B1F !important;
        font-weight: bold;
    }
    .containerFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        padding: 25px 0;
    }
    .social-links a {
        font-size: 15px;
    }
    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-social-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-end;
    }

    .footer-item .nav-link {
        color: white !important;
        display: block;
        text-align: left;
        font-size: 12px;
    }
    .footer-item .nav-link {
        margin: 0 !important;
        padding: 4px 10px;
    }
    .social-links a {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .containerFooter > div:first-child {
        display: none;
    }
    .logo-social-wrapper > div {
        margin: 0 auto;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        padding-inline: clamp(10px, 5vw, 30px);
        padding-block: 0;
    }
    .footer .social-links a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }

    .footer{
        background-color: rgba(153, 27, 31, 0.8);
    }
    .footer-logo {
        display: none;
    }
}

@media (min-width: 992px) {
    .social-links a span {
        display: none;
    }
}