* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
    background-color: white;
    color: #222;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    background-image: linear-gradient(to left, #ED1C24 , #991B1F);
    padding: 10px 100px;
    height: 169px;
}
.navbar .nav-link {
    color: white !important;
    margin-left: 15px;
}
.footer-item .nav-link {
    color: #ED1C24 !important;
    margin-left: 15px;
}

.footer .logo {
    width: 120px;
}

.footer{
    margin-top: 50px;
}

.social-links {
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
}

.news-more {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.social-links a{
    color: white;
    font-size: 24px;
}


.main-section {
    position: relative;
    background: url('../../images/services-about-as-page.webp') center/cover no-repeat;
    height: 764px;
    color: white;
    margin-bottom: 400px;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 764px;
    background: rgba(150, 0, 0, 0.7);
    z-index: 1;
}

.contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.image-section {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.contentRow{
    position: relative;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card {
    position: relative;
    height: 500px;
    aspect-ratio: 1 / 1;
    margin: 0 40px 85px 40px;
    background-image: url('../../images/home-services2.webp');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 5;
}
.cards-first-column .project-card{
    background-image: url('../../images/home-services1.webp');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 20px 40px 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 5;

}

.overlay h3 {
    font-family: "Raleway", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.overlay a {
    font-family: "Raleway", serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}


.services-bg-line{
    position: absolute;
    z-index: -1;
    right: -50px;
}

.main-bg {
    padding-top: 350px;
}

.second-section{
    margin-bottom: 200px;
}

.service-header{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}
.container{
    position: relative;
}

.cards-first-column {
    margin-top: 50px;
}

.cards-second-column {
    margin-top: 100px
}

.services-row1-bg-line {
    position: absolute;
    z-index: 2;
    left: -300px;
    top: 140px;
}

.services-row2-bg-line {
    position: absolute;
    z-index: 2;
    left: -300px;
    top: 180px;
}