* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
    background-color: white;
    color: #222;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    background-image: linear-gradient(to left, #ED1C24 , #991B1F);
    padding: 10px 100px;
    height: 169px;
}
.navbar .nav-link {
    color: white !important;
    margin-left: 15px;
}
.footer .social-links a{
    color: rgb(153, 27, 31);
}
.footer-item .nav-link {
    color: rgb(153, 27, 31) !important;
    margin-left: 15px;
}

.footer .logo {
    width: 120px;
}

.footer{
    margin-top: 50px;
}

.social-links {
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
}

.news-more {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.social-links a{
    color: white;
    font-size: 24px;
}


.main-section {
    position: relative;
    background: url('../../images/services-about-us-page.webp') center/cover no-repeat;
    height: 560px;
    color: white;
    margin-bottom: 400px;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 560px;
    background: rgba(150, 0, 0, 0.7);
    z-index: 1;
}

.contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.image-section {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.contentRow{
    position: relative;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-card {
    position: relative;
    height: 400px;
    aspect-ratio: 1 / 1;
    margin: 50px auto;
    background-image: url('../../images/home-services2.webp');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 5;
}
.cards-first-column .project-card{
    background-image: url('../../images/home-services1.webp');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 20px 40px 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 5;

}

.overlay h3 {
    font-family: "Raleway", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.overlay a {
    font-family: "Raleway", serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}


.services-bg-line{
    position: absolute;
    z-index: -1;
    right: -50px;
}

.main-bg {
    padding-top: 260px;
}

.second-section{
    margin-bottom: 200px;
}

.service-header{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}
.container{
    position: relative;
}

.cards-first-column {
    margin-top: -20px;
}

.cards-second-column {
    margin-top: 40px
}

.services-row1-bg-line {
    position: absolute;
    z-index: 2;
    left: -300px;
    top: 140px;
}

.services-row2-bg-line {
    position: absolute;
    z-index: 2;
    left: -300px;
    top: 180px;
}
.services-bg-line, .services-row1-bg-line, .services-row2-bg-line{
    display: none;
}

@media (min-width: 1025px) {
    .container {
        font-size: 18px;
    }
    .project-card {
        height: 500px;
        margin: 0 40px 85px 40px;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-section {
        height: 764px;
    }

    .main-section::before {
        height: 764px;
    }
    .cards-first-column {
        margin-top: 50px;
    }
    .cards-second-column {
        margin-top: 100px
    }
    .main-bg {
        padding-top: 350px;
        overflow-x: hidden;
    }
    .services-bg-line{
        display: block;
        position: absolute;
        z-index: -1;
        right: -50px;
    }
    .services-row1-bg-line {
        display: block;
        position: absolute;
        z-index: 2;
        left: -300px;
        top: 140px;
    }
    .services-row2-bg-line {
        display: block;
        position: absolute;
        z-index: 2;
        left: -300px;
        top: 180px;
    }

}
@media (max-width: 768px) {
    .container {
        font-size: 16px;
    }
    .navbar .nav-link {
        margin-left: 15px;
        text-align: center;
    }
    .header{
        height: auto;
    }
    .containerFooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services-bg-line, .services-row1-bg-line, .services-row2-bg-line{
        display: none;
    }
    .overlay h3 {
        font-size: 25px;
    }
    .overlay a {
        font-size: 16px;
    }
    .main-section {
        height: 300px;
    }
    .main-section::before {
        height: 300px;
    }
    .main-bg {
        padding-top: 220px;
    }
    .service-header {
        font-size: 35px;
    }
    .cards-first-column {
        margin-top: 20px;
    }
    .cards-second-column {
        margin-top: 65px;
    }
    .project-card {
        height: 280px;
        margin: 20px auto;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (max-width: 480px) {
    .container {
        font-size: 14px;
    }
    .header {
        padding: 0;
        height: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .services-bg-line, .services-row1-bg-line, .services-row2-bg-line{
        display: none;
    }
    .project-card {
        width: 200px;
        height: auto;
        margin: 20px auto;
    }
    .service-header {
        font-size: 25px;
    }
    .overlay h3 {
        font-size: 15px;
    }
    .overlay a {
        font-size: 12px;
    }
    .main-bg {
        padding-top: 153px;
    }
    .cards-first-column {
        margin-top: 0;
    }
    .main-section {
        margin-bottom: 70%;
    }
    .cards-second-column {
        margin-top: 10%;
    }
    .main-section::before {
        height: 100%;
    }
    .main-section {
        height: 700px;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse li {
        border-bottom: 3px solid #991B1F;

        box-shadow: 0 4px 6px rgba(153, 27, 31, 0.4);
        margin: 5px;
        border-radius: 8px;
    }
    .navbar-collapse {
        margin-top: 10px;
        background-color:#fff;
        padding: 5px;
        border-radius: 8px;

    }
    .navbar-nav .nav-link {
        color: #991B1F !important;
        font-weight: bold;
    }
    .containerFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "menu right";
        column-gap: 20px;
        align-items: center;
    }
    .social-links a {
        font-size: 15px;
    }
    .footer-item {
        display: flex;
        flex-direction: column;
        grid-area: menu;
    }
    .footer-logo {
        content: url('../../images/header-logo.webp');
        width: 110px;

    }
    .footer-item .nav-link {
        color: white !important;
        display: block;
        text-align: left;
        font-size: 12px;
    }
    .footer-item .nav-link {
        margin: 0 !important;
        padding: 4px 10px;
    }
    .logo-social-wrapper {
        grid-area: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    .logo-social-wrapper > div {
        margin: 0 auto;
    }

    .social-links {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .footer .social-links a{
        color: white;
    }

    .footer{
        background-color: rgba(153, 27, 31, 0.8);
    }
}