* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
    background-color: white;
    color: #222;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    background-image: linear-gradient(to left, #ED1C24 , #991B1F);
    padding: 10px 100px;
    height: 169px;
}
.navbar .nav-link {
    color: white !important;
    margin-left: 15px;
}
.footer-item .nav-link {
    color: #ED1C24 !important;
    margin-left: 15px;
}

.footer .logo {
    width: 120px;
}

.footer{
    margin-top: 100px;
}

.social-links {
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
}

.news-more {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.social-links a{
    color: white;
    font-size: 24px;
}
.title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 100px;
}
.projectsRow img {
    width: 774px;
    height: auto;
}

.projectsLastRow img {
    width: 707px;
    height: auto;

}

.align-items-center-lineImg img {
    margin: 10px;
    width: 270px;
    height: auto;
    box-shadow: 0 4px 14px 0 #00000091;

}

.align-items-center-lineImg {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}
.img-background {
    display: flex;
    flex-direction: column;
}


.splide__slide img {
    width: 100%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.main-content {
    position: relative;
}

.background {
    position: absolute;
    height: 631px;
    background-color: #ED1C24;
    background-image: linear-gradient(to left, #ED1C24, #991B1F);
    z-index: 0;
    right: 0;
    width: 45%;
    top: 330px;
}

.image-wrapper img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.redBg{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}


.bg-line{
    position: absolute;
    z-index: -1;
    left: -170px;
    top: -40px;
}



.project-section {
    margin-top: 150px;
}
.project-content {
    margin-top: 100px;
}

#image-slider {
    margin-top:130px;
}


@media (max-width: 1024px) {
    .container {
        font-size: 18px;
    }
    .title {
        font-size: 20px;
        padding: 50px 0 20px 0;
    }
    .project-content {
        margin-top: 50px;
    }
    .project-section {
        margin-top: 50px;
    }
    #image-slider{
         margin-top: 50px;
    }
    .text-content{
        font-size: 12px;
    }
    .bg-line{
        display: none;
    }
    .background{
        display: none;
    }


}
@media (max-width: 768px) {
    .container {
        font-size: 16px;
    }
    .navbar .nav-link {
        margin-left: 15px;
        text-align: center;
    }
    .header {
        height: auto;
    }
    .containerFooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bg-line{
        display: none;
    }
    .background{
        display: none;
    }
    .title {
        font-size: 20px;
        padding-top: 15px;
    }
    .project-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-content{
        width: 100%;
    }
    .projectsRow, .projectsLastRow{
        width: 100%;
    }
    .project-section {
        margin-top: 30px;
    }
    .redBg{
        width: 100%;
    }



}
@media (max-width: 480px) {
    .container {
        font-size: 14px;
    }
    .header {
        padding: 0;
        height: auto;

    }
    .bg-line{
        display: none;
    }
    .background{
        display: none;
    }
    .title {
        font-size: 20px;
        padding-top: 20px;
    }
    .text-content{
        font-size: 12px;
    }
    .project-content {
        margin-top: 30px;
    }
    .project-section {
        margin-top: 20px;
    }
    #image-slider {
        margin-top: 50px;
    }
}