* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
    background-color: white;
    color: #222;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    background-image: linear-gradient(to left, #ED1C24 , #991B1F);
    padding: 10px 100px;
    height: 169px;
}
.navbar .nav-link {
    color: white !important;
    margin-left: 15px;
}
.footer-item .nav-link {
    color: #ED1C24 !important;
    margin-left: 15px;
}

.footer .logo {
    width: 120px;
}

.footer{
    margin-top: 90px;
}

.social-links {
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
}

.news-more {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.social-links a{
    color: white;
    font-size: 24px;
}

.align-items-center {
    margin-top: 10px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    padding-top: 77px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.news-bg-line {
    position: absolute;
    z-index: -1;
}
.news-row {
    padding-top: 120px;
    margin-left: -70px;
}
.news-section {
    padding-top: 51px;

}
.news-last-row {
    padding-top: 150px;
    margin-left: -70px;
}

.news-content{
    margin: 0 auto;
}

.about {
    position: relative;
    overflow-x: hidden;
}

@media (max-width: 1024px) {
    .container {
        margin: 0 auto;
        font-size: 18px;
    }
    .img-content {
        display: flex;
        flex-direction: row;
    }
    .news-bg-line{
        display: none;
    }
    .news-row {
         padding-top: 0;
         margin-left: 0;
    }
    .news-last-row {
        padding-top: 0;
        margin-left: 0;
    }
    h1 {
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    .container {
        font-size: 16px;
    }
    .navbar .nav-link {
        margin-left: 15px;
        text-align: center;
    }
    .containerFooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .news-bg-line{
        display: none;
    }
    .news-content {
         margin: 0 5%;
    }
    h2 {
        font-size: 13px;
    }
    h1 {
        font-size: 29px;
    }
    .text{
        font-size: 12px;
    }
    .news-row {
         padding-top: 0;
        margin-left: 0;

    }
    .news-last-row {
        padding-top: 0;
        margin-left: 0;
    }
    .header {
        height: auto;
    }
}
@media (max-width: 480px) {
    .container {
        font-size: 14px;
    }
    .header {
        padding: 0;
    }
    .news-bg-line{
        display: none;
    }
    .header{
        height: auto;
    }
    .news-content {
         margin: 0 ;
    }
    h1 {
        padding-top: 10px;
        font-size: 25px;
    }
    h2 {
        font-size: 14px;
    }
    .news-row {
        padding-top: 20px;
         margin: 0;
        gap: 20px;
    }
    .news-last-row {
        padding-top: 20px;
        margin: 0;
        gap: 20px;
    }
}